# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# MongoDB data (якщо ви локально зберігаєте базу)
dump/
data/

# IDEs
.vscode/
.idea/

# Coverage directories
coverage/

# Build output (якщо є)
dist/
build/
